[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/shebang"]
	path = bundle/shebang
	url = https://github.com/vim-scripts/Shebang.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = https://github.com/vim-scripts/css3-mod.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/json.vim"]
	path = bundle/json.vim
	url = https://github.com/argent-smith/JSON.vim.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = https://github.com/vim-scripts/Jinja.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = https://github.com/vim-scripts/jQuery
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/po-vim"]
	path = bundle/po-vim
	url = https://github.com/vim-scripts/po.vim--Jelenak.git
[submodule "bundle/javascript-libraries-syntax.vim"]
	path = bundle/javascript-libraries-syntax.vim
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-angular-template"]
	path = bundle/vim-angular-template
	url = https://github.com/curist/vim-angular-template
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/requirejs.vim"]
	path = bundle/requirejs.vim
	url = https://github.com/alarie/requirejs.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/vim-velocity"]
	path = bundle/vim-velocity
	url = https://github.com/lepture/vim-velocity.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/HTML-AutoCloseTag"]
	path = bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/JavaScript-Indent"]
	path = bundle/JavaScript-Indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "/home/yotam/.vim/bundle/vim-coffee-script"]
	path = /home/yotam/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-java-get-set"]
	path = bundle/vim-java-get-set
	url = https://github.com/Dinduks/vim-java-get-set.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
